@using Comp2007_Assignment2.Models
@model  Comp2007_Assignment2.Models.Type

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing Pokemon Types: @Model.Name</h2>
<ul>
        @foreach (Dish dish in Model.Dishes)
        {
        <li>
        @Html.ActionLink(dish.Name,"Details", new {id = dish.DishID})
        </li>
        }


</ul>

