@using Comp2007_Assignment2.Models
@model IEnumerable<Types>

@{
    ViewBag.Title = "Index";

}

                      <h3>Browse Types</h3>
                      <p>
                          Select from @Model.Count()
                          types:
                      </p>
                      <ul>
                          @foreach (Types item in Model)
                          {

                          <li>@Html.ActionLink(item.Name,"Browse", new {type=item.Name})</li>
                          }
                      </ul>
